#map-div {
  height: 400px;
  padding: 10px;
  margin: 0;
}

#chart-div {
  height: 300px;
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
}

#headbox {
  padding: 0;
  margin-top: 1%;
}

#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg');
    background-size: 145%;
    opacity: 0.4;
    filter:alpha(opacity=40);
}
