<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>S&P 500 Dash</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>S&P 500 Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h5>Select by Ticker:</h5>
          <select id="tickerSelector" onchange="optionChanged(this.value)">
          </select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Ticker Details</h3>
          </div>
          <div id="ticker-details" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-primary" id="map">
        <h1> This is where the map will go. ID = 'map-div' </h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-primary" id="api-div">
          <h3> Div for API. ID = 'api-div' </h3>
        </div>        
      </div>
      <div class="col-md-6">
        <div class="panel panel-primary" id="chart-div">
          <h3> Maybe a plotly chart?. ID = 'chart-div' </h3>
        </div>
      </div>
    </div>
  </div>


  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/SPX_app.js') }}"></script>

</body>

</html>
